apiVersion: v1
kind: Service
metadata:
  annotations:
    cloud.google.com/neg: '{"ingress":true}'
  finalizers:
  - service.kubernetes.io/load-balancer-cleanup
  labels:
    app: nginx-deployment22
  name: nginx-deployment-service22
  namespace: helm
spec:
  ports:
  - nodePort: 32218
    port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: nginx-deployment22
  type: LoadBalancer
